@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family:'Roboto Condensed', sans-serif;
}


body {
  text-align: center;
  background-color: #5c7896;
}

.quadrado {
  text-align: center;
  width: 30px;
  background: #fff;
  display: inline-block;
  padding: 40px;
  font-size: 40px;
  margin: 5px;
  cursor: pointer;
  color: #fff;
}

.jogador, .vencedor {
  font-size: 25px;
  margin: 5px;
 }

button {
  margin-top: 10px;
  width: 100px;
  height: 30px;
  background: #fff;
  border-radius: 20px;
  font-weight: bold;
  }

p{
  padding: 5px;
  font-size: 15px;
  font-weight: bold;
   }

  h1{
    padding: 10px;
  }

